.container {
    display: flex;
    height: 45px;

    button {
        width: 50%;
        padding: 0;
        margin: 0;
        flex-grow: 2;
        border: none;
        cursor: pointer;
        i:before {
            content: "\266B";
        }
    }

    p {
        width: 190%;
    }
}
