.container {
    button {
        cursor: pointer;
        padding: 0;
        background-color: white;
        border: none;
    }
    li {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: #fff;
        min-height: 45px;
        border-bottom: 1px solid #DCDBDB;
    }

    .pointer{
      cursor: pointer;
    }

    .pic {
        border-radius: 4px;
        width: 50px;
        height: 50px;
        background-color: #ccc;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto 0;
    }
    .artists {
        min-width: 250px;
        width: 250px;
        h3 {
            margin-bottom: 10px;
        }
    }
    .artistMetadata {
        div:first-of-type{
          margin-bottom: 10px;
        }
        i:before {
            content: "\2605";
        }
    }
}
