.container {
    display: flex;

    button {
         flex-grow: 2;
        i:before {
            content: "\2605";
        }
    }

    button:first-of-type i:before {
        content: "\266B";
    }
}
