.container {
    text {
        font-weight: 900;
        font-size: 12px;
        fill: #fff;
    }
    .bubbleCenter {
        stroke: white;
    }
    .oneStar {
        fill: red;
    }
    .twoStars {
        fill: yellow;
    }
    .threeStars {
        fill: green;
    }
    .fourStars {
        fill: blue;
    }
    .fiveStars {
        fill: orange;
    }
    .starOutline {
        fill: white;
    }
    .starFilled {
        fill: #E2E21B;
    }
    .pointer {
        cursor: pointer;
    }

}
